doctype html
html
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/index.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap")
        
        script(src="js/dist/xlsx.full.min.js")
        script(src="http://cdn.jsdelivr.net/g/filesaver.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode-module@1.0.4/index.min.js"></script>


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>
        <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

    body

        section.container
            include navbar

            <div data-simplebar class="dashboard">
                .dashboard__title
                    h1 Title
                form(action="create_xlsx").toXLSX
                ul.dashboard__options
                    li.dashboard__options_item
                        h3 Sort By
                    li.dashboard__options_item
                        h3 Any Date
                    li.dashboard__options_item
                        h3 Monthly Plan
                    li.dashoboard__options_item
                        button.btn +
                    li.dashboard__options_item
                        button.btn-convert Export in XLSX
                <table class="dashboard__table">
                    thead  
                        tr  
                            th Vino
                            th Quantità
                            th Persona
                            th Scopo
                            th Commento
                            th Destinazione
                            th Data
                    tbody
                        each el in data
                            tr
                                td= el.wine.name
                                td= el.qty
                                td= el.person.name
                                td= el.purpose
                                td= el.comment
                                td= el.destinationStr
                                td= el.date.toLocaleDateString()
                </table>
                

            .modal.displayNone
                .modal-content
                    button.closeBtn
                        span.closeBtn &times;
                    form(action="createSerie" method="method").form
                        .form__select-field
                            select.form__select
                                each wine in wines
                                    option(value=wine.name)#wine #{wine.name}
                            label(for="wine", label="vino").form__select-label <h4>Vino</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="qty" required="true").form__input#qty
                            label(for="qty", label="quantità").form__label <h4>Quantità</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="person" required="true").form__input#person
                            label(for="person", label="persona").form__label <h4>Persona</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="purpose" required="true").form__input#purpose
                            label(for="purpose", label="scopo").form__label <h4>Scopo</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="comment" required="true").form__input#comment
                            label(for="comment", label="commento").form__label <h4>Commento</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="destinatioStr" required="true").form__input#destinationStr
                            label(for="destinationStr", label="destinazione").form__label <h4>Destinazione</h4>
                        

                        button.btn-submit SUBMIT
            </div>



        script(src="js/createSerie.js")
        script(src="js/fileSaverExporter.js")
        

