doctype html
html
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //- Styles
        link(rel="stylesheet", href="./css/index.css")
        link(rel="stylesheet", href="./css/dashboard.css")
        link(rel="stylesheet", href="./css/modal.css")
        link(rel="stylesheet", href="./css/table.css")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap")
        
        script(src="js/dist/xlsx.full.min.js")
        script(src="http://cdn.jsdelivr.net/g/filesaver.js")
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode-module@1.0.4/index.min.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>

    body
        - const now = new Date();
        section.container
            include navbar
            <div class="dashboard">
                .dashboard__title
                    h1 #{title}
                form(action="create_xlsx").toXLSX
                ul.dashboard__options
                    li.dashboard__options_item
                        button.dropdown__link#button_1 Ordina per
                        ul.dashboard__dropdown#dropdown_1
                            li.dashboard__dropdown_item
                                a.dropdown__link(href="?sort=-date") Data
                                    a.dropdown__link(href="?sort=-date") 
                                        img(src="../assets/down-arrow.svg", alt="arrow down").dropdown__icon#icon1
                                    a.dropdown__link(href="?sort=date") 
                                        img(src="../assets/down-arrow.svg", alt="arrow down").dropdown__icon#icon2
                            li.dashboard__dropdown_item
                                a.dropdown__link(href="?sort=qty") Quantità
                    li.dashboard__options_item
                        button.dropdown__link#button_2 Data
                        ul.dashboard__dropdown#dropdown_2
                            li.dashboard__dropdown_item
                                a.dropdown__link(href="/") Qualsiasi💡
                            li.dashboard__dropdown_item
                                a.dropdown__link(href=`?year=${now.getFullYear()}&month=${now.getMonth()+1}`) Ultimo mese📆
                            li.dashboard__dropdown_item
                                a.dropdown__link(href=`?year=${now.getFullYear()}&month=${now.getMonth()+1}&day=${now.getDate()}`) Oggi✌🏻
                    li.dashoboard__options_item
                        button.btn +
                    li.dashboard__options_item
                        button.btn-convert Export in XLSX
                <table class="dashboard__table">
                    thead  
                        tr  
                            th Vino
                            th Quantità
                            th Persona
                            th Scopo
                            th Commento
                            th Destinazione
                            th Incasso(€)
                            th Data
                    tbody
                        each el in data
                            tr
                                td= el.wine.name
                                td= el.qty
                                td= el.person.name
                                td= el.purpose
                                td= el.comment
                                td= el.destinationStr
                                td= Math.round(el.wine.price * el.qty)
                                td= `${el.date.getDate()}/${el.date.getMonth()+1}/${el.date.getFullYear()}`
                </table>

                .nav__panel
                    ul
                        
                

            .modal.displayNone
                .modal-content
                    button.closeBtn
                        span.closeBtn &times;
                    form(action="createSerie" method="method").form
                        .form__select-field
                            select.form__select
                                each wine in wines
                                    option(value=wine.name)#wine= wine.name
                            label(for="wine", label="vino").form__select-label <h4>Vino</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="qty" required="true").form__input#qty
                            label(for="qty", label="quantità").form__label <h4>Quantità</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="purpose" required="true").form__input#purpose
                            label(for="purpose", label="scopo").form__label <h4>Scopo</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="comment").form__input#comment
                            label(for="comment", label="commento").form__label <h4>Commento (opzionale)</h4>
                        .form__input-field
                            input(type="text" placeholder=" " name="destinatioStr" required="true").form__input#destinationStr
                            label(for="destinationStr", label="destinazione").form__label <h4>Destinazione</h4>
                        

                        button.btn-submit SUBMIT
            </div>



        script(src="js/common/dropdown.js")

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        script(src="js/utils.js")
        script(src="js/createSerie.js")
        script(src="js/fileSaverExporter.js")
        

